@font-face {
    font-family: 'Poppins';
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(202, 202, 228);
}

.row{
    margin-left: 1ex;
    font-size: 2em;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.wrapper{
    margin-left: 1.5%;
    width: 400%;
    max-width: 90%;
}

.wrapper label{
    display: block;
    margin: 0.3em 0;
}

.wrapper label input{
    margin-left: 40%;
    border-color: rgb(92, 92, 238);
    border-radius: 0.5em;
    border-style: inset;
    color: rgb(78, 78, 78);
    font-size: 2em;
    padding: 0.5em;
}

.wrapper input[type="submit"]{
    border-radius: 0.1em;
    border-style: hidden;
    margin-left: 50%;
    font-size: 2em;
    color: white;
    background-color: rgb(92, 92, 238);
}

button{
    border-radius: 0.12em;
    border-style: hidden;
    font-size: 2em;
    color: white;
    background-color: rgb(92, 92, 238);
}

.btn{
    display: block;
    margin: 0.4em;
}

.stat{
    color: rgb(90, 90, 90);
    font-size: 2em;
    font-weight: bold;
}